PHPMailer*/
phpmailer*/
javascript/jq*
javascript/tinymce*
javascript/prototype.js
PdfToText-master
multifile-master
javascript/jqwidgets
javascript/bootstrap
tabulator*/
vendor/
imgs
config_*.ini
FS_Config_*
Fonts
bo*
jq*
neues/*
test/*
/VF_Upload
