PHPMailer*/
phpmailer*/
javascript/jq*
javascript/tinymce*
javascript/prototype.js
PdfToText-master
multifile-master
javascript/jqwidgets
javascript/bootstrap
javscript/tabulator*
javascript/flickr*
css/w3*
css/tabulator*
css/flickr*
imgs
config_*.ini
FS_Config_*
FS_Config.*
Fonts
bo*
jq*
neues/*
test/*
/VF_Upload